@media screen and (max-width: 1400px) {
  :root {
    --ui-size: 0.6;
  }

  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 1800px) {
  body {
    grid-template:
      'header ' 125px
      'aside' auto
      'ui ' 1fr
      'footer' 50px
      / 1fr;

    justify-content: center;
    align-items: center;
  }

  .aside {
    padding: var(--space-l);
    flex-direction: row;
  }

  .frame-container {
    flex-direction: row;
    margin-left: var(--space-l);
  }
}

@media screen and (min-width: 2350px) {
  :root {
    --ui-size: 0.9;
  }

  html {
    font-size: 85%;
  }

  body {
    height: 100vh;
  }

  body::after {
    top: 2%;
    left: -5%;
  }

  .main {
    justify-content: center;
  }

  .aside {
    justify-content: center;
    align-items: start;
  }

  .guide {
    margin-bottom: var(--space-l);
  }
}
