:root {
  --ui-size: 0.7;
  --enemy-pivot-shift: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  max-height: 100vh;

  grid-template:
    "header header header header" 125px
    "ui ui ui aside" 1fr
    "footer footer footer footer" 50px
    / 1fr 1fr 1fr 1fr;

  background-color: #1b1719;

  font-family: "Marcellus", serif;
  color: #f1f1f2;
}

body::after {
  content: "beta";
  position: absolute;
  top: 3%;
  left: -6%;

  padding: 8px 150px;

  color: #1b1719;
  background-color: #ffef00;

  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Marcellus", serif;

  transform: rotate(-46deg);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: header;
}

.title {
  font-family: "Marcellus", serif;
  font-size: 74px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: footer;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: start;

  grid-area: aside;

  padding-right: 42px;
}

.guide {
  margin-bottom: auto;
}

.guide-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.guide-text {
  font-size: 20px;
  line-height: 1.4;
}

.path-file {
  font-size: 12px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: start;

  height: 100%;
  width: 100%;

  grid-area: ui;
}

.ui {
  position: relative;
  height: calc(1080px * var(--ui-size));
  width: calc(1920px * var(--ui-size));

  box-shadow: 0 0 0 4px #99948b;
  background-image: url("../images/game_grid.webp");
  background-size: cover;
}

.frame {
  width: calc(220px * var(--ui-size));
  height: calc(80px * var(--ui-size));

  border-radius: 10px;
  background-size: cover;
}

.ally1 {
  position: absolute;
  left: calc(495px * var(--ui-size));
  bottom: calc(290px * var(--ui-size));
  background-image: url("../images/frame_party1.webp");
}

.ally2 {
  position: absolute;
  left: calc(495px * var(--ui-size));
  bottom: calc(185px * var(--ui-size));
  background-image: url("../images/frame_party2.webp");
}

.ally3 {
  position: absolute;
  left: calc(495px * var(--ui-size));
  bottom: calc(80px * var(--ui-size));
  background-image: url("../images/frame_party3.webp");
}

.enemy1 {
  position: absolute;
  left: calc(1145px * var(--ui-size));
  bottom: calc(290px * var(--ui-size));
  background-image: url("../images/frame_enemy1.webp");
  transform: translateX(var(--enemy-pivot-shift));
}

.enemy2 {
  position: absolute;
  left: calc(1145px * var(--ui-size));
  bottom: calc(185px * var(--ui-size));
  background-image: url("../images/frame_enemy2.webp");
  transform: translateX(var(--enemy-pivot-shift));
}
.enemy3 {
  position: absolute;
  left: calc(1145px * var(--ui-size));
  bottom: calc(80px * var(--ui-size));
  background-image: url("../images/frame_enemy3.webp");
  transform: translateX(var(--enemy-pivot-shift));
}

.frame-container {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.selected {
  box-shadow: 0 0 0 2px #99948b;
}

.output-ally,
.output-emeny {
  display: flex;
  font-size: 14px;
  color: #fff;
  background-color: #1b1719;
  resize: none;
  padding: 8px;
  box-shadow: 0 0 0 2px #99948b;

  margin-top: 8px;
}

.copy {
  padding: 2px 4px;
  margin-left: 24px;
  font-size: 16px;
  border: none;
}

.copy:active {
  transform: scale(0.9);
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  position: absolute;
  top: 14px;
  right: 14px;

  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #bdb9a6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
